---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import Section from "@components/Section.astro";
const posts = (await getCollection("posts")).sort((a, b) => new Date (b.data.pubDate).valueOf() - new Date (a.data.pubDate).valueOf());
const opeds = posts.filter(post => post.data.type == "Op-Ed")
const Acres = posts.filter(post => post.data.type == "98 Acres")
const last_posts = posts.filter(post => new Date(post.data.pubDate) > new Date("2024-01-01"));
---

<BaseLayout sideBarActiveItemID="home">
<div class="md:grid grid-cols-3 grid-rows-6 w-full items-start ">

  <section class="md:border-x-2 border-black-300 items-start content-start h-full  justify-start md:col-start-2 ">
    <center>
    <div class="text-3xl w-full font-bold mb-5 mt-5" > Welcome to Kalpa!</div>
    <div class="py-2 w-full">
      <text class="prose text-lg">
        An attempt at documenting campus.
      </text>
    </div>
    
    <div class="mt-6">

      <a  class="btn btn-outline hover:btn-accent text-lg font-medium" href="/posts" >All Posts</a>
      <a href="./joinus/index.html"  class="btn ml-5 text-lg font-medium">
        Join Us
      </a>
    </div>
    </center>
  </section>

  <section class="md:border-x-2 border-black-300 row-span-2 md:col-start-1 row-start-1 ">
    <div class="text-3xl  font-bold mb-5 mt-5 "> <center>Opinion Pieces</center></div>
    {
      <Section
        wanted_posts = {"Op-Ed"}
      />
    } 
  </section>
  <section class="md:border-x-2 border-black-300 row-span-4">
    <div class="text-3xl  font-bold mb-5 mt-5 "><center>98 Acres</center></div>
    {
      <Section
        wanted_posts = {"98 Acres"}
      />
    }
  </section>
  <section class="md:border-x-2 border-black-300 row-span-4 col-start-2">
    <div class="text-3xl  font-bold mb-5 mt-5 "><center>Kreedajung 2025</center></div>
    {
      <Section
        wanted_posts = {"98 Acres"}
      />
    }
  </section>
</div>
</BaseLayout>


