---
import BaseLayout from "../layouts/BaseLayout.astro";
import VerticalCard from "../components/VerticalCard.astro";
import HorizontalCard from "@components/HorizontalCard.astro";
---

<BaseLayout title="magazine" sideBarActiveItemID="magazine">
  <div class="text-center text-4xl font-bold mb-10">Kalpa Editions</div>

  <div class= "span text-3xl w-full font-bold mb-5 mt-5">

    <HorizontalCard title="Kalpa 2022" img="/magazine/kalpa2022.jpeg" url="https://drive.google.com/file/d/15AvNrPMR7t5L1XCSJMh_d0snvSibJwb1/view?usp=drive_link" target = "blank" desc = "" />
    <HorizontalCard title="Kalpa 2021" img="/magazine/kalpa2021.jpg" url="https://drive.google.com/file/d/13537H8zrUO8wPGA-L9-xXcqdTHoA_FDd/view?usp=drive_link" target = "blank" />
    <HorizontalCard title="Kalpa 2020" img="/magazine/kalpa2020.jpg" url="https://drive.google.com/file/d/1wMYWUnIkXjMLFG1qFtw_A5-6yd3GoccW/view?usp=sharing" target = "blank"/>
    <HorizontalCard title="Kalpa 2018" img="/magazine/kalpa2018.jpg" url="https://drive.google.com/file/d/19rq_gEpf4jnEpO3LjWsdmc7U3Q-Dm3V3/view?usp=drive_link" target = "blank"/>
    <HorizontalCard title="Kalpa 2017" img="/magazine/kalpa2017.jpg" url="https://drive.google.com/file/d/1WeX1TUvoWjOQBseijwp8JB_HP_rvUAO7/view?usp=drive_link" target = "blank"/>
    <HorizontalCard title="Kalpa 2016" img="/magazine/kalpa2016.jpg" url="https://drive.google.com/file/d/0BwShA3ZGl5wRdmpQdWxFLXhScUU/view?usp=sharing&resourcekey=0-dmyHeCO0IT2ofb5Tj6sciw" target = "blank"/>
    <HorizontalCard title="Kalpa 2015" img="/magazine/kalpa2015.jpg" url="https://drive.google.com/file/d/1jd2FqD9v7oKK59IpRKo7nViZ3uexrxRr/view?usp=sharing" target = "blank"/>
    <HorizontalCard title="Kalpa 2013" img="/magazine/kalpa2013.jpg" url="https://drive.google.com/file/d/1QgoHX1ChUCYE0uEnuEVStFtWyp5HM662/view?usp=sharing" target = "blank"/>
    <HorizontalCard title="Kalpa 2012" img="/magazine/kalpa2012.jpg" url="https://drive.google.com/file/d/1v44iankGGwofbCaqXrbXQDocv_q7LTT4/view?usp=sharing" target = "blank"/>
    <HorizontalCard title="Kalpa 2011" img="/magazine/kalpa2011.jpg" url="https://drive.google.com/file/d/1k6joDOLWwfEGRqK1z6c9F3G6687kbaWc/view?usp=sharing" target = "blank"/>
    <HorizontalCard title="Kalpa 2009" img="/magazine/kalpa2009.jpg" url="https://drive.google.com/file/d/1D86QfQD2xZxgM7ml7NZM4I5qEY_fzyUH/view?usp=drive_link" target = "blank"/>
    <HorizontalCard title="Kalpa 2008" img="/magazine/kalpa2008.jpg" url="https://drive.google.com/file/d/1t2EcIUMuYkD0f4MIsRsgGworbb_FZomF/view?usp=drive_link" target = "blank"/>
  </div>

  <div class="divider my-8"></div>
</BaseLayout>
