---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";

const { sideBarActiveItemID } = Astro.props;
---

<nav class="fixed top-0 left-0 w-full bg-base-200 text-base-content shadow-lg flex items-center justify-between px-6 py-4">
  <a href="/" class="text-md font-semibold flex items-center space-x-3">
    <span>Kalpa IISER Pune</span>
  </a>

  <div class="flex space-x-6">
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
  </div>

  <a href="/" class="w-12 h-12">
    <Image format="png" width={48} height={48} src="/kalpalogo.png" alt="Kalpa logo" />
  </a>
</nav>

<div class="mt-20"></div>

